
		<nav class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Flipkart -- Online mega store</a>
				<div class="navbar-right">
					<div class="container minicart"><%= image_tag "flipkart-logo.png" %></div>
				</div>
			</div>
		</nav>
		
		<div class="container-fluid breadcrumbBox text-center">
			<ol class="breadcrumb">
				<li><a href="#">Review</a></li>
				<li class="active"><a href="#">Order</a></li>
				<li><a href="#">Payment</a></li>
			</ol>
		</div>
		
		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart"></div>
				<h1>Your shopping cart</h1>
				<p>
					Please review the items you have selected and confirm the order. You can also choose whether you need to publish 
					the items for reviews to review monk now, or you can do it later.
				</p>
			</div>
			

			<%= form_tag "payment",:id=>"checkoutform", :method=>"post", :controller => "cart" do %>

			<input type="hidden" name="user_email" value="vigneshjayavel@gmail.com" />

			<div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>Push to review monk ?</span>
					</li>
					<li class="row">
						<span class="quantity"><input type="hidden" value="1"/>1</span>
						<span class="itemName"><input type="hidden" name="product[0][name]" value="Moto G"/>Moto G</span>
						<span class="price">
							<input type="radio" name="product[0][status]" value="yes">Yes &nbsp;
							<input type="radio" name="product[0][status]" value="later">Later &nbsp;
							<input type="radio" name="product[0][status]" value="no">No &nbsp;
						</span>
					</li>
					<li class="row">
						<span class="quantity"><input type="hidden" value="1"/>1</span>
						<span class="itemName"><input type="hidden" name="product[1][name]" value="Moto E"/>Moto E</span>
						<span class="price">
							<input type="radio" name="product[1][status]" value="yes">Yes &nbsp;
							<input type="radio" name="product[1][status]" value="later">Later &nbsp;
							<input type="radio" name="product[1][status]" value="no">No &nbsp;
						</span>
					</li>
					<!--<li class="row">
						<span class="quantity">20</span>
						<span class="itemName">Beer kegs</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$919.99</span>				
					</li>
					<li class="row">
						<span class="quantity">18</span>
						<span class="itemName">Pound of beef</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$269.45</span>
					</li>
					<li class="row">
						<span class="quantity">1</span>
						<span class="itemName">Bullet-proof vest</span>
						<span class="popbtn"  data-parent="#asd" data-toggle="collapse" data-target="#demo"><a class="arrow"></a></span>
						<span class="price">$450.00</span>				
					</li>
					<li class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">$1694.43</span>
						<span class="order"> <a class="text-center">ORDER</a></span>
					</li>-->
				</ul>
			</div>

			<button type="submit" class="btn btn-success">Place order</button>

			<%end%>

		</div>

		<!-- The popover content -->

		<div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('button.status').click(function(){
					$(this).siblings('input').val($(this).val());
				});
			});
		</script>
		